:root{
    --col-white: #ffffff;
    --col-background: #0B0D17;
    --bg-image0: url(/images/bg_home_desktop.jpg);
    --bg-image1: url(/images/bg_destination_desktop.jpg);
    --bg-image2: url(/images/bg_crew_desktop.jpg);
    --bg-image3: url(/images/bg_technology_desktop.jpg);
}