@use "./partials/fonts";
@use "./partials/reset";
@use "./partials/colors";
@use "./partials/animations";

body {
  min-height: 100vh;
  font-family: var(--ff-barlow);
  background-color: var(--col-background);
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

.onTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 6rem;
  z-index: 50;
}
